# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular tools for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. scikit-learn
2. TensorFlow
3. PyTorch
4. Caffe

|Data Science Tools|
|------------------|
|conda|
|jupyterlab|
|ibm watson|
|vscode|
|google colab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
print("200 minutes in hours is ", 200/60,"hrs")

200 minutes in hours is  3.3333333333333335 hrs

## Author:
Avijeet Paul